textarea {
    resize: none;
}
body{
	background-color: #FFFFFF;
}
#texto_cabeza {
    font-family: 'Poiret One', cursive;
    color: #003F3D;
}

#text-ingresa-datos,#text-razon{
	font-family: 'Poiret One', cursive;
	color: #003F3D;
	font-size: 1.2em;
}
#btn_buscar,#btn_guardar,#btn_cambiar_contra,#btn_cambiar_con,#btn_estadisticas,#btn_olvido{
	background-color: #003F3D;
	color: #fff;
}
#datos_id,
#datos_peronales_nombre,
#datos_peronales_apellido,
#datos_personales_razon{
	background-color: #fff;
	color: #555;
	font-family: 'Poiret One', cursive;
	font-size: 1.2em;
}
#btn_salir{
	background-color: #630003;
	color: #fff;
}
#btn_eliminar_rangos{
	 background-color: #FF3B36;
	 color: #fff;
}